# N rate experiment (Grain) randomized

In [27]:
df = tibble::tibble(
  Variety = rep(c("22XH0007", "22XH0001"), each = 4L),
  `N rate` = rep(c("0N", "50N", "100N", "150N"), 2),
  `Rep 1` = seq(101, 108, by = 1),
  `Rep 2` = seq(201, 208, by = 1),
  `Rep 3` = seq(301, 308, by = 1),
  `Rep 4` = seq(401, 408, by = 1),
)
df

print("###")
print("randomized")
print("###")

library(dplyr)
set.seed(1000)
df_randomized= Grain %>%
  mutate(across(starts_with("Rep"),
        ~ ave(.x[order(match(Variety,sample(unique(Variety))))],
              Variety,FUN=sample)))
df_randomized

  Variety  N rate Rep 1 Rep 2 Rep 3 Rep 4
1 22XH0007 0N     101   201   301   401
2 22XH0007 50N    102   202   302   402
3 22XH0007 100N   103   203   303   403
4 22XH0007 150N   104   204   304   404
5 22XH0001 0N     105   205   305   405
6 22XH0001 50N    106   206   306   406
7 22XH0001 100N   107   207   307   407
8 22XH0001 150N   108   208   308   408

[1] "###"
[1] "randomized"
[1] "###"

  Variety  N rate Rep 1 Rep 2 Rep 3 Rep 4
1 22XH0007 0N     105   205   302   408
2 22XH0007 50N    107   206   301   407
3 22XH0007 100N   108   207   304   406
4 22XH0007 150N   106   208   303   405
5 22XH0001 0N     103   201   305   404
6 22XH0001 50N    102   202   306   401
7 22XH0001 100N   101   204   308   402
8 22XH0001 150N   104   203   307   403

# N rate experiment (Fiber) randomized

In [28]:
df= tibble::tibble(
  Variety = rep(c("CRS-1", "IH-Williams"), each = 4L),
  `N rate` = rep(c("0N", "50N", "100N", "150N"), 2),
  `Rep 1` = seq(101, 108, by = 1),
  `Rep 2` = seq(201, 208, by = 1),
  `Rep 3` = seq(301, 308, by = 1),
  `Rep 4` = seq(401, 408, by = 1),
)
df

print("###")
print("randomized")
print("###")

library(dplyr)
set.seed(2000)
df_randomized= Fiber %>%
  mutate(across(starts_with("Rep"),
         ~ ave(.x[order(match(Variety,sample(unique(Variety))))],
               Variety,FUN=sample)))
df_randomized

  Variety     N rate Rep 1 Rep 2 Rep 3 Rep 4
1 CRS-1       0N     101   201   301   401
2 CRS-1       50N    102   202   302   402
3 CRS-1       100N   103   203   303   403
4 CRS-1       150N   104   204   304   404
5 IH-Williams 0N     105   205   305   405
6 IH-Williams 50N    106   206   306   406
7 IH-Williams 100N   107   207   307   407
8 IH-Williams 150N   108   208   308   408

[1] "###"
[1] "randomized"
[1] "###"

  Variety     N rate Rep 1 Rep 2 Rep 3 Rep 4
1 CRS-1       0N     102   207   308   402
2 CRS-1       50N    104   205   305   401
3 CRS-1       100N   101   206   307   403
4 CRS-1       150N   103   208   306   404
5 IH-Williams 0N     106   201   301   405
6 IH-Williams 50N    107   204   302   407
7 IH-Williams 100N   108   203   304   406
8 IH-Williams 150N   105   202   303   408

# Planting date experiment (Grain) randomized

In [29]:
df= tibble::tibble(
  `Planting_date` = rep(c("May1", "May15", "Jun1", "Jun15"), each = 2L),
  VT = rep(c("22XH001", "22XH0007"), 4),
  `Rep 1` = seq(101, 108, by = 1),
  `Rep 2` = c(202, 201, 208, 207, 203, 204, 206, 205),
  `Rep 3` = c(307, 308, 304, 303, 301, 302, 306, 305),
  `Rep 4` = c(402, 401, 404, 403, 407, 408, 406, 405),
)
df

print("###")
print("randomized")
print("###")

library(dplyr)
set.seed(3000)
df_randomized= df %>%
  mutate(across(starts_with("Rep"),
         ~ ave(.x[order(match(Planting_date,sample(unique(Planting_date))))],
              Planting_date,FUN=sample)))
df_randomized

  Planting_date VT       Rep 1 Rep 2 Rep 3 Rep 4
1 May1          22XH001  101   202   307   402
2 May1          22XH0007 102   201   308   401
3 May15         22XH001  103   208   304   404
4 May15         22XH0007 104   207   303   403
5 Jun1          22XH001  105   203   301   407
6 Jun1          22XH0007 106   204   302   408
7 Jun15         22XH001  107   206   306   406
8 Jun15         22XH0007 108   205   305   405

[1] "###"
[1] "randomized"
[1] "###"

  Planting_date VT       Rep 1 Rep 2 Rep 3 Rep 4
1 May1          22XH001  105   201   308   407
2 May1          22XH0007 106   202   307   408
3 May15         22XH001  103   203   306   401
4 May15         22XH0007 104   204   305   402
5 Jun1          22XH001  101   206   304   405
6 Jun1          22XH0007 102   205   303   406
7 Jun15         22XH001  108   208   302   404
8 Jun15         22XH0007 107   207   301   403

# Planting date experiment (Fiber) randomized

In [30]:
df= tibble::tibble(
  `Planting_date` = rep(c("May1", "May15", "Jun1", "Jun15"), each = 2L),
  VT = rep(c("CRS-1", "IH-Williams"), 4),
  `Rep 1` = seq(101, 108, by = 1),
  `Rep 2` = c(204, 203, 202, 201, 208, 207, 205, 206),
  `Rep 3` = c(304, 303, 302, 301, 306, 305, 307, 308),
  `Rep 4` = c(402, 401, 408, 407, 406, 405, 403, 404),
)
df

print("###")
print("randomized")
print("###")

library(dplyr)
set.seed(4000)
df_randomized= df %>%
  mutate(across(starts_with("Rep"),
         ~ ave(.x[order(match(Planting_date,sample(unique(Planting_date))))],
                Planting_date,FUN=sample)))
df_randomized

  Planting_date VT          Rep 1 Rep 2 Rep 3 Rep 4
1 May1          CRS-1       101   204   304   402
2 May1          IH-Williams 102   203   303   401
3 May15         CRS-1       103   202   302   408
4 May15         IH-Williams 104   201   301   407
5 Jun1          CRS-1       105   208   306   406
6 Jun1          IH-Williams 106   207   305   405
7 Jun15         CRS-1       107   205   307   403
8 Jun15         IH-Williams 108   206   308   404

[1] "###"
[1] "randomized"
[1] "###"

  Planting_date VT          Rep 1 Rep 2 Rep 3 Rep 4
1 May1          CRS-1       108   206   305   404
2 May1          IH-Williams 107   205   306   403
3 May15         CRS-1       106   207   302   405
4 May15         IH-Williams 105   208   301   406
5 Jun1          CRS-1       101   204   308   402
6 Jun1          IH-Williams 102   203   307   401
7 Jun15         CRS-1       104   201   304   408
8 Jun15         IH-Williams 103   202   303   407

# Tillage experiment (Grain) randomized

In [31]:
df= tibble::tibble(
  Tillage = rep(c("Till", "No-till"), each = 6L),
  Variety = rep(rep(c("22XH0007", "22XH0001"), 2), each = 3L),
  `target pop` = rep(c(10, 15, 20), 4),
  `Rep 1` = seq(101, 112, by = 1),
  `Rep 2` = seq(201, 212, by = 1),
  `Rep 3` = seq(301, 312, by = 1),
  `Rep 4` = seq(401, 412, by = 1),
)
df

print("###")
print("randomized")
print("###")

library(dplyr)
set.seed(5000)
df_randomized <- df %>%
  mutate(across(starts_with("Rep"),
                ~ ave(.x[order(match(paste(Variety, Tillage),
                      sample(unique(paste(Variety, Tillage)))))],
                      paste(Variety, Tillage), FUN = sample)))
df_randomized

   Tillage Variety  target pop Rep 1 Rep 2 Rep 3 Rep 4
1  Till    22XH0007 10         101   201   301   401
2  Till    22XH0007 15         102   202   302   402
3  Till    22XH0007 20         103   203   303   403
4  Till    22XH0001 10         104   204   304   404
5  Till    22XH0001 15         105   205   305   405
6  Till    22XH0001 20         106   206   306   406
7  No-till 22XH0007 10         107   207   307   407
8  No-till 22XH0007 15         108   208   308   408
9  No-till 22XH0007 20         109   209   309   409
10 No-till 22XH0001 10         110   210   310   410
11 No-till 22XH0001 15         111   211   311   411
12 No-till 22XH0001 20         112   212   312   412

[1] "###"
[1] "randomized"
[1] "###"

   Tillage Variety  target pop Rep 1 Rep 2 Rep 3 Rep 4
1  Till    22XH0007 10         108   204   307   407
2  Till    22XH0007 15         109   206   309   409
3  Till    22XH0007 20         107   205   308   408
4  Till    22XH0001 10         101   208   303   406
5  Till    22XH0001 15         102   209   301   404
6  Till    22XH0001 20         103   207   302   405
7  No-till 22XH0007 10         110   211   312   410
8  No-till 22XH0007 15         112   210   310   412
9  No-till 22XH0007 20         111   212   311   411
10 No-till 22XH0001 10         105   201   306   403
11 No-till 22XH0001 15         104   203   305   402
12 No-till 22XH0001 20         106   202   304   401

# Tillage experiment (Fiber) randomized

In [32]:
df=tibble::tibble(
  Tillage = rep(c("Till", "No-till"), each = 6L),
  Variety = rep(c("CRS", "CRS", "CRS", "IH-Williams", "IH-Williams", "IH-Williams"), 2),
  `target pop` = rep(c(20, 25, 30), 4),
  `Rep 1` = seq(101, 112, by = 1),
  `Rep 2` = seq(201, 212, by = 1),
  `Rep 3` = seq(301, 312, by = 1),
  `Rep 4` = seq(401, 412, by = 1),
)
df

print("###")
print("randomized")
print("###")

library(dplyr)
set.seed(6000)
df_randomized= df %>%
                mutate(across(starts_with("Rep"),
                ~ ave(.x[order(match(paste(Variety, Tillage),
                      sample(unique(paste(Variety, Tillage)))))],
                      paste(Variety, Tillage), FUN = sample)))
df_randomized

   Tillage Variety     target pop Rep 1 Rep 2 Rep 3 Rep 4
1  Till    CRS         20         101   201   301   401
2  Till    CRS         25         102   202   302   402
3  Till    CRS         30         103   203   303   403
4  Till    IH-Williams 20         104   204   304   404
5  Till    IH-Williams 25         105   205   305   405
6  Till    IH-Williams 30         106   206   306   406
7  No-till CRS         20         107   207   307   407
8  No-till CRS         25         108   208   308   408
9  No-till CRS         30         109   209   309   409
10 No-till IH-Williams 20         110   210   310   410
11 No-till IH-Williams 25         111   211   311   411
12 No-till IH-Williams 30         112   212   312   412

[1] "###"
[1] "randomized"
[1] "###"

   Tillage Variety     target pop Rep 1 Rep 2 Rep 3 Rep 4
1  Till    CRS         20         102   211   306   402
2  Till    CRS         25         103   210   305   403
3  Till    CRS         30         101   212   304   401
4  Till    IH-Williams 20         110   208   310   404
5  Till    IH-Williams 25         112   207   312   406
6  Till    IH-Williams 30         111   209   311   405
7  No-till CRS         20         105   202   307   407
8  No-till CRS         25         106   201   309   409
9  No-till CRS         30         104   203   308   408
10 No-till IH-Williams 20         108   204   302   410
11 No-till IH-Williams 25         109   205   301   411
12 No-till IH-Williams 30         107   206   303   412